.Pen {
  padding: 10px;
  color: whitesmoke;
}

.Pen:hover {
  color: #ffc400;
}

.DropdownItem,
.DropdownItem:focus {
  background-color: #ffc400 !important;
  color: #343a40;
}

.DropdownItem:hover {
  background-color: #343a40 !important;
  color: whitesmoke;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}

.Menu {
  background-color: #ffc400;
}
