.NavBar {
  background-color: #ffc400;
  color: #343a40;
  height: 50px;
}

.NavLink {
  background-color: #ffc400;
  padding: 5px;
  color: #343a40;
}

.NavLink i {
  padding: 0 5px;
}

.Active {
  color: black;
  text-decoration: underline;
}