.Observation {
  background-color: rgba(0, 0, 0, 0.080);
  margin-bottom: 16px;
  border: 1px solid #ffc400;
  width: auto;
}

.HeaderFooter {
  background-color: #ffc400;
}

.Updated {
  padding: 5px;
}

.UserName {
  padding: 10px;
  color: rgba(0, 0, 0, 0.582);
}

.UserName:hover {
  color: black;
}
