.Observation {
  background-color: #343a40;
  margin-bottom: 16px;
  border: 1px solid #ffc400;
  width: auto;
}

.UserName {
  padding: 10px;
  color: #ffc400;
  text-align: center;
}

.UserName:hover {
  color: whitesmoke;
}

.Footer {
  background-color: #ffc400;
  color: #343a40;
  text-align: center;
}

a {
  color: #343a40;
}

.Updated {
  padding: 5px;
}