.App {
  font-family: 'Kanit', sans-serif;
  background-color: #343a40;
  color: whitesmoke;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

* {
  box-sizing: border-box;
}

a:hover {
  color: black;
  transition: color ease-in-out 0.3s;
}

.Control {
  box-shadow: none !important;
  border: none !important;
}
